<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombres:<%= FirstName %></p>
    <p>Apellidos:<%= LastName %></p>
    <p>Cedula:<%= Id %></p>
    <p>Seccion:<%= Section %></p>
  </body>
</html>
